<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/appName"
        android:supportsRtl="true"
        android:theme="@style/Theme.Svetercom"
        tools:targetApi="31">

        <activity
            android:name=".ChoosingPathActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:label="@string/choosePathTitle"/>
        <activity
            android:name=".RegistrationActivity"
            android:exported="true"
            android:label="@string/registrationTitle"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SelectLoginOrRegistrationActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="@string/loginAction"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>